<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
<div class="voterstats"><h1>statsss</h1>
<ul>
{% for stat in voterstats %}
<li>{{stat}}</li>
{% endfor %}
</ul>
</div>
<div class="votes"><h1>votes</h1>
            {% for vote in votes %}
                <div class="row">
                    passage:
                    <p>
                        {{vote.text}}
                    </p>
                    name: {{vote.votername}}, direction: {{vote.positive}}
                </div>
                <hr>
            {% endfor %}
</div><div>
    <h1>comments</h1>
            {% for comment in comments %}

                <div class="row">
                    passage:
                    <p>
                        {{comment.passage}}
                    </p>
                    name: {{comment.author}}, comment: {{comment.comment}}
                </div>
                <hr>
            {% endfor %}
</div>
    </body>
</html>