{% extends "base.html" %}
{% block content %}
<div class="container">
    <em>yep means "if this were polished, it should be in the final manuscript"<br/>
    nop means "no matter how polished, no part of this should be in the final manuscript"</em>
    <div class="passagebox">
        <p class="passage">
        {{passage}}
        </p>
    </div>
     <div>
        <form action="." method="POST">
           <input type="hidden" name="snippet_id" value="{{id}}">
           <div class="yepnopboxbox">
                <div class="yepnopbox">
                    <button class="yep btn btn-2 btn-2i" type="submit" name="vote" id="vote-up" value="True">yep</button>
                    <button class="nop btn btn-2 btn-2i" type="submit" name="vote" id="vote-down" value="False">nop</button>
                </div>
           </div>
           <div class="commentboxbox">
            <textarea class="commentbox" name="comment" placeholder="Enter a comment (before voting! then vote to submit comment)"></textarea>
            </div>
        </form>
    </div>
    <div class="stats">
        statistics:
        <ul>
            {% for stat in stats %}
            <li>{{stat}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
